table{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Times New Roman', serif;
}

.contencion{
    width:100%;
    min-height:100vh;
    background:#f5f5f5;
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
}

.frente{
    text-align:center;
    width:500px;
}

.subtitulo{
    font-size:12px;
    letter-spacing:2px;
    margin-bottom:10px;
}

h2{
    margin-bottom:25px;
    color:#3b2617;
}

form{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:10px;
}

input{
    padding:10px;
    border:1px solid #ddd;
}

button{
    background:#d11a1a;
    color:white;
    border:none;
    cursor:pointer;
    font-weight:bold;
}

button:hover{
    opacity:0.9;
}


.img-left-top{
    position:absolute;
    top:40px;
    left:30px;
    width:100px;
}

.img-left-bottom{
    position:absolute;
    left:50px;
    bottom:120px;
    width:60px;
}

.img-right{
    position:absolute;
    right:30px;
    bottom:50px;
    width:180px;
}