body{
background-color:#FEF0D3;
height: 100%;
width: 100%;
}

h3{
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: relative;
    text-align: center;
    margin-top: 18%;
    margin-bottom: auto;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
}

h1 title{
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: relative;
    text-align: center;
    margin-top: 18%;
    margin-bottom: auto;
    padding: 10px;
    font-family: 'Clarendon Bold', Times, serif;
    background-color: rgb(#401F0C);
}

#container{
    width: 470px;
    height: 600px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom:0;
    padding:30px;
}

.cuadro{
    background-color: #FFC145;
    height: 50px;
    width: 100px; /*contemplar el tamaño*/
    margin: auto;   
    left:0px;
    right: 0px;
    top:10px;
    bottom: 1000px;
    position: relative;
    align-items: center;
    margin-bottom: 0px;
    margin-top: -315px;
}

#title{
    position: relative; 
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin-bottom: center;
    padding: 10px;
    align-items: center;
    float: center;
    margin-top: 10px;
}

.imagen1{
    width:400px;
    border-radius:30px;
    position:absolute; 
    margin: auto;
    left: 0;
    right: 0;
    background-color: brown;
}
