
p {
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
body{
min-height: 100vh;
background-image: radial-gradient(circle 50vh at 70% 50%, #FDDF9F,#FFDF98, #FFC649); 
background-repeat:no-repeat;
}
#PAGINA{
 width:100px; 
 height:100px;
}
#PAGINA{
 width:100px; 
 height:100px; 
}
.miniatura{
  width: 20vh;
  height: 10VH;
  float:left;
  top:30px;
  bottom:100vh;
  left:0px; 
  right:100vh;
  margin-left:75px;
}
img{
    width: 80vh;
    height: 60VH;
    box-shadow: (2px, 2px, 5px rgba(0, 0, 0, 0.5));
    left: 110vh;
    right: 59vh;
    top:30vh;
    bottom: 50vh;
    position:absolute;
}
/* .circle{
  width:125px;
  height: 125px;
  border-radius: 100%;
  background-color: red;
  position: absolute;
  left: 800px;
  right: 0px;
  margin:0px;
  top:398px ;
  bottom: 10px;
} */
 .container{
  width:62vh;
  height:8vh;
  border:7px black dashed;
  left:13vh;
  right:0px;
  position:absolute;
  top:29vh;
  bottom:0px;
 }
.text{
    width: 80vh;
    height:50vh;
    background-color: none;
    border:none;
    left:10vh;
    right:140vh; 
    top:19vh; 
    bottom:0;
    position:absolute;
    margin:auto;
}
#primero{
  font-size: 125px;
  font-style: initial;
  font-display: flex;
  margin:20px;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px 4px rgb(255, 255, 255);
  color:#45230A;
}
#segundo{
  font-size: 100px;
  font-width: 100px;
  font-style: initial;
  font-display: flex;
  margin:20px;
  align-items: center;
  text-shadow: 2px 2px 4px rgb(255, 255, 255);
  justify-content: center;
  line-height: 28px;
  color:#45230A;
}

.table {
  background-color: none;
  color: #45230A;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position:absolute; 
  top:0vh;
  bottom:500vh;
  left:0px;
  right:auto; 
  width: 195vh;
  height: 5vh;
}
#delivery{
left:155vh; 
right:0px;
position: absolute;
margin-left:none;
line-height: 1px;
margin-bottom:auto;
margin-top: 30px;
margin-RIGHT:0PX ;
top:30px;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size:20px;
}
h1 {
  left:225px;
  border:none;
  padding:none;
  position:absolute; 
  top:30px;
  bottom:100vh;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size:30px; 
}

nav ul {
  list-style: none;
  display: flex;
  margin-right: 500px; 
}
.rows{
  list-style:none;
  display:flex;
  float:right; 
  right: 0px;
  left:120vh;
  position:absolute;
  top:70px;
}

nav li {
  margin-right: 80px;
}

a {
  text-decoration: none;
  color: #45230A;
  font-size:20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


