body{
    min-height: 100vh;
    background-repeat:no-repeat;
    MARGIN:0;
}
div{
    width: 155vh;
    height:80vh; 
    background-color:none;
    margin:20vh;
    position:absolute;
    gap:10%;
    z-index:1;
}
header img{
    width:80vh;
    height:75vh; 
    left: 2vh;
    right:80vh;
    bottom:70vh;
    top:-10vh;
    position:relative;
    margin:auto;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
}
nav img{
    width:80vh;
    height:35vh;   
    left:90vh;
    right:0vh;
    bottom:70vh;
    top:5vh;
    position:absolute;
    margin:auto;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
}
footer img{
    width:80vh;
    height:35vh;   
    left:90vh;
    right:50vh;
    top:30vh;
    position:absolute;
    margin:auto;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
}
.letter1{
    width:70vh;
    height:100px;
    position: absolute;
    bottom:110vh;
    left:95vh;
    right:0vh;
    top:-5vh;
    margin-top:0px;
    z-index:5;
}
.letter2{
    width:70vh;
    height:110px;
    bottom:80vh;
    left:5vh;
    right:70vh;
    top:-5vh;
    margin-top:10px;
    position:absolute;
    z-index:5;
}
.letter3{
    width:70VH;
    height:100px;
    top:5vh; 
    bottom:0;
    left:95vh;
    right:0;
    margin:auto;
    position:absolute;
    z-index:5;
}
.text{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-syze:60px;
    color:brown;
    margin:auto;
    z-index:5;
    line-height:0.2px;
    text-shadow: 2px 2px 4px rgb(250, 173, 8);
    margin-top:5px;
}
H2{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:60px;
    line-height:0.2px;
    text-shadow: 2px 2px 4px rgb(250, 173, 8);
}
@media (max-width: 768px) {
    /* DISEÑO EN COLUMNA CAMBIO EN LOS DIV PARA PANTALLAS MOVILES */
    div {         
        width: 100%;
        height: auto;
        margin: 0;
        padding: 20px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        box-sizing: border-box;
    }
    /* CAMBIO EN EL TAMAÑO DE LAS IMAGENES PARA QUE NO SE SALGAN EN PANTALLAS MOVILES*/
    header img,             
    nav img, 
    footer img {
        position: relative;
        width: 100%;
        max-width: 400px; 
        height: auto; 
        top: auto;
        bottom: auto;
        left: auto;
        right: auto;
    }
    /* CAMBIO EN LOS CONTENEDORES DE LAS LETRAS PARA QUE MANTENGAN LA MISMA POSICIÓN  */
    .letter1,   
    .letter2, 
    .letter3 {
        position: relative;
        width: 100%;
        height: auto;
        top: auto;
        bottom: auto;
        left: auto;
        right: auto;
        text-align: center;
        margin: 10px 0;
    }

    .text, 
    H2 {
        font-size: 40px; 
        line-height: normal;
    }
}